#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                  {field: 'supplierId', title: 'ID', width: 180}
                , {field: 'supplierName', title: '供应商名称', width: 120}
                , {field: 'supplierAddress', title: '供应商地址', width: 120}
                , {field: 'supplierLead', title: '负责人', width: 100}
                , {field: 'supplierTel', title: '联系方式', width: 120}
                , {field: 'supplierRemark', title: '备注', width: 180}
                , {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
                
             ]]
            , url: '#(ctxPath)/supplier/info/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/supplier/info/delete',
                        data: {id : data.supplierId},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTableQuery();
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                pop_show('编辑数据','#(ctxPath)/supplier/info/update?id=' + data.supplierId,'','', function(){
                    reloadTableQuery();
                });
            }  
        });

        $("#add").click(function(){
            pop_show('添加数据','#(ctxPath)/supplier/info/add','','', function(){
                reloadTableQuery();
            });
        });

        $("#cache").click(function(){
            layer.confirm('确定刷新数据缓存吗', function(index){
                util.sendAjax ({
                    type: 'POST',
                    url: '#(ctxPath)/supplier/info/cache',
                    data: {},
                    loadFlag: true,
                    success : function(data){
                        layer.close(index);
                    },
                    unSuccess: function (data) {
                        layer.close(index);
                    }
                });
            });
        });

        reloadTableQuery = function () {
            table.reload('dateTable', {
                url: '#(ctxPath)/supplier/info/tableData'
                ,where: {type: $('#type').val(), typeDesc: $('#typeDesc').val()} //设定异步数据接口的额外参数
            });
        }

        reloadTable = function (type, typeDesc) {
            table.reload('dateTable', {
                url: '#(ctxPath)/supplier/info/tableData'
                ,where: {type: type, typeDesc: typeDesc} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.type, data.field.typeDesc);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
    <div class="layui-fluid">
         
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
            	#shiroHasPermission('/supplier/info/postadd')
                <button id="add" class="layui-btn layui-btn-small">添加数据</button>
           		#end
            </div>
            <div class="layui-btn-group">
           
                <button id="cache" class="layui-btn layui-btn-small">刷新缓存</button>
          
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
 	#shiroHasPermission('/supplier/info/edit')
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	#end
	#shiroHasPermission('/supplier/info/delete')
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  	#end
</script>
#end