#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                  {field: 'contractId', title: 'ID', width: 160}
                , {field: 'contractName', title: '合同名称', width: 80}
                , {field: 'contractStartDate', title: '开始日期', width: 160}
                , {field: 'contractEndDate', title: '结束日期', width: 160}
                , {field: 'contractMoney', title: '合同金额', width: 120}
                , {field: 'contractContent', title: '合同内容', width: 180}
                , {field: 'instinitionId', title: '机构编号', width: 180}
                , {field: 'wdId', title: '网点编号', width: 180}
                , {field: 'jiaLead', title: '甲方负责人', width: 100}
                , {field: 'installDate', title: '安装日期', width: 180}
                , {field: 'enter', title: '录入人员', width: 100}
                , {field: 'enterDate', title: '录入日期', width: 180}
                , {field: 'contractStatus', title: '合同状态', width: 100}
                , {fixed: 'right', title: '操作', width: 260, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
               ]]
            , url: '#(ctxPath)/contract/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/contract/delete',
                        data: {id : data.contractId},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTableQuery();
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                pop_show('编辑数据','#(ctxPath)/contract/update?id=' + data.contractId,'','', function(){
                    reloadTableQuery();
                });
            }
            else if(obj.event === 'fujian'){
                pop_show('合同附件','#(ctxPath)/contract/hetong?id=' + data.contractId,'','', function(){
                    reloadTableQuery();
                });
            }
            else if(obj.event === 'addfujian'){
                pop_show('合同附件','#(ctxPath)/contract/upload?id=' + data.contractId,'','', function(){
                    reloadTableQuery();
                });
            }
            
            
        });

        $("#add").click(function(){
            pop_show('添加数据','#(ctxPath)/contract/add','','', function(){
                reloadTableQuery();
            });
        });

        $("#cache").click(function(){
            layer.confirm('确定刷新数据缓存吗', function(index){
                util.sendAjax ({
                    type: 'POST',
                    url: '#(ctxPath)/contract/cache',
                    data: {},
                    loadFlag: true,
                    success : function(data){
                        layer.close(index);
                    },
                    unSuccess: function (data) {
                        layer.close(index);
                    }
                });
            });
        });

        reloadTableQuery = function () {
            table.reload('dateTable', {
                url: '#(ctxPath)/contract/tableData'
                ,where: {type: $('#type').val(), typeDesc: $('#typeDesc').val()} //设定异步数据接口的额外参数
            });
        }

        reloadTable = function (contractName) {
            table.reload('dateTable', {
                url: '#(ctxPath)/contract/tableData'
                ,where: {contractName: contractName} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.contractName);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
    <div class="layui-fluid">
          <form id="searchForm" class="layui-form x-center" action="" >
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">合同查询</label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="contractName" placeholder="合同名称" class="layui-input"/>
                    </div>
                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
            	#shiroHasPermission('/contract/add')
                <button id="add" class="layui-btn layui-btn-small">添加数据</button>
            	#end
            </div>
            <div class="layui-btn-group">
                <button id="cache" class="layui-btn layui-btn-small">刷新缓存</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>
<script type="text/html" id="barOption">
	#shiroHasPermission('/contract/delete')
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	#end
	#shiroHasPermission('/contract/edit')
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    #end
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="fujian">合同附件</a>

</script>
#end